@model GestionConsommationVehiculeMvc.Models.service

@{
    ViewBag.Title = "Details";
   Layout = "~/Views/Layouts/_Default.cshtml";
}
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main"style="background-color:white">


<h2>Details</h2>

<fieldset>
    <legend>service</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NomService)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NomService)
    </div>

</fieldset>
<p style="font-size:20px">
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
</div>